.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    box-shadow: 0 20px 40px 5px rgba(19, 20, 31, 0.6);
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.transition-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-container {
    color: #cadae3;
    min-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid #333550;
    background-color: #282a42;
    border-radius: 2px;
}

.modal-header {
    background-color: #2d2f48;
    padding: 15px 20px;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #333550;
}

.modal-header span {
    display: inline-block;
    float: right;
    width: 12px;
    height: 12px;
    margin-top: 4px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0MUIxODc5OTVCNTgxMUU1ODAzNkYzMTAwN0RDOEU0OCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0MUIxODc5QTVCNTgxMUU1ODAzNkYzMTAwN0RDOEU0OCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjQxN0U4Rjc0NUI1ODExRTU4MDM2RjMxMDA3REM4RTQ4IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjQxN0U4Rjc1NUI1ODExRTU4MDM2RjMxMDA3REM4RTQ4Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+HUcKGgAAAQFJREFUeNpi/P//PwMlgImBQkCxASzInIlTthoCqUYgPpqf492JJM4IpNKB2AuIpwPltuNyQTsQ+wJxOVBTJpJ4HBA3QeXqcLoACA4BsQ0QCwJxA9Tm91CDRYH4G8h1+AzoA+LPQAxyvhgQt0E1SQLxRyDuB+IJyBoY0aMRaCsbkIoB4rlIwiDNrVD/f8EbC0AFv4DUVyD+jSb1GV0zVgOALogEUUDMChX6DsT8QFwLlMvCawBQQQY0HMShGluAuArqBSlQFAPV1OFzQSgQSwDxDyDugBowE5o2QIErAo1KnLHQDMQcQHwMZAA0PEAumw2keIDYE4gn4Y2FoZeZAAIMALyUTmwPR6yCAAAAAElFTkSuQmCC") no-repeat center;
    cursor: pointer;
}

.modal-header span:hover {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5RThBQjBFNzVCNTgxMUU1QTIzNzgyRTJBQjExRTk1MCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5RThBQjBFODVCNTgxMUU1QTIzNzgyRTJBQjExRTk1MCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjlFNjE3RDAyNUI1ODExRTVBMjM3ODJFMkFCMTFFOTUwIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjlFNjE3RDAzNUI1ODExRTVBMjM3ODJFMkFCMTFFOTUwIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+thqe1wAAAPhJREFUeNpi/P//PwMlgImBQkBdA37//m0IxJuAuBxNnBGIM6BynigmgMIAhn/9+rUDiP8D8TsgzkQSjwfiV1C548h6WNBcdAiIbYBYEIgbQDYD6fdA3A7EokD8DYiP4nMBBxDnAvE3qG0fgPgZErseiPmR9aAYADWEDYiToJr+I2kuBWIedPUYscDKyvoLSH0FhR2a1Geg3BeMaMDigkggfoFkO8w7T4E4C109uuYMIH6OpLEZiAugXgCJvQbiOnwG7IUq/A5SCMTsQMwJxIVA/AkqdxpfNDYDMQcQHwPiDmh4gBLSbCDFA8SgRDQJWQPj0M9MAAEGACTic2YzEZkcAAAAAElFTkSuQmCC") no-repeat center;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    padding: 20px;
}

.modal-body input[type='radio'] {
    padding: 0;
    margin: 0;
}

.modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #22243b;
    padding: 15px 20px;
    border-top: 1px solid #333550;
}

.modal-footer:after {
    content: '';
    display: block;
    clear: both;
}

.modal-button {
    font-size: 14px;
    height: 35px;
    width: 100px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    float: right;
    margin-left: 10px;
}

.modal-confirm-button {
    color: #cadae2;
    background-color: #4c63eb;
}

.modal-confirm-button:hover {
    background-color: #6279ff;
}

.modal-confirm-button:active {
    background-color: #4458ca;
}

.modal-cancel-button {
    color: #9093b4;
    background-color: #2d2f48;
}

.modal-cancel-button:hover {
    background-color: #363855;
}

.modal-cancel-button:active {
    background-color: #2a2c41;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.bg-enter {
    -webkit-animation: opacityIn .5s;
    -o-animation: opacityIn .5s;
    animation: opacityIn .5s;
}

.bg-leave {
    -webkit-animation: opacityOut .3s;
    -o-animation: opacityOut .3s;
    animation: opacityOut .3s;
}

.modal-enter {
    -webkit-animation: zoom-in 0.5s;
    -o-animation: zoom-in 0.5s;
    animation: zoom-in 0.5s;
}

.modal-leave {
    -webkit-animation: zoom-out 0.3s;
    -o-animation: zoom-out 0.3s;
    animation: zoom-out 0.3s;
}

@-webkit-keyframes opacityOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes opacityIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacityOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacityIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes zoon-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes zoom-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoom-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoom-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}